.header {
  background-image: url(../Assets/backgrounds/h_img.jpg);
  height: 100vh;
  background-size: cover;
}
.services {
  background-image: url(../Assets/backgrounds/s_image.jpg);
  height: 60vh;
}
.dis {
  display: none;
}
.icon, .con, .ico {
  cursor: pointer;
}
.form {
  background-image: url(../Assets/backgrounds/c_image.jpg);
  height: 90vh;
}
.put {
  background: transparent;
  border: white solid 1px;
}
.put::placeholder {
  color: white;
}
.btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 2px 10px;
}
.btn:focus {
  box-shadow: none;
}
[placeholder="Your message here..."]:focus {
  background: transparent;
  border: 2px black solid;
  box-shadow: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 3.5%;
  right: 0;
  bottom: 0;
  width: 93%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
}
.overlay h2{
  border: 2px solid white;
  width: 80%;
  height: 80%;
  /* padding-right: 3px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
